.header-search {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  height: 96px;
  padding: 0 28px;
  border-radius: 20px;
  box-shadow:  -25px 25px 50px #d9d9d9,
             25px -25px 50px #ffffff;
  background-color: #fff;
}

.header-search .section-filters-bar-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 527px;
}

.searchbox-form {
  width: 100%;
}

.search-box-input {
  width: 100%;
  height: 48px;
  padding: 0 48px 0 14px !important;
  border-radius: 12px;
  background: none;
  border: 2px solid #E6E8EC !important;
  //font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.71429;
  color: #23262F;
  transition: border-color .2s;

  &:focus {
    border-color: $secondaire !important;
    outline: none !important;
  }
}

.searchbox-submit {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $principal;
    transition: background .2s;
    flex-direction: column;
}

.sidebar-box-title {
  font-size: 1rem;
  font-weight: 700;
  color: $principal;
}

.sidebar-box-items {
  margin-top: 36px;
}

.checkbox-line {
  margin-bottom: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox-wrap {
  position: relative;
}

.checkbox-wrap input[type=checkbox], .checkbox-wrap input[type=radio] {
  display: none;
}

.checkbox-wrap input[type=checkbox]:checked+.checkbox-box, .checkbox-wrap input[type=radio]:checked+.checkbox-box {
  background-color: $principal;
  border-color: $principal;
}

.checkbox-wrap .checkbox-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 1px solid #dedeea;
  border-radius: 6px;
  background-color: #fff;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: border-color .2s ease-in-out,background-color .2s ease-in-out;
}

.icon-cross {
  width: 12px;
  height: 12px;
  fill: transparent;
  transition: fill .2s ease-in-out;
}

.checkbox-wrap input[type=checkbox]:checked+.checkbox-box .icon-cross, .checkbox-wrap input[type=radio]:checked+.checkbox-box .icon-cross {
  fill: #fff;
}

label {
  display: block;
  margin: 0;
  color: #3e3f5e;
  line-height: 1em;
}

.checkbox-wrap label {
  padding-left: 34px;
  font-size: .875rem;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
}

.checkbox-line .checkbox-line-text {
  color: white;
  background-color: $secondaire;
  font-size: .875rem;
  font-weight: 500;
}

.number-filter {
  width: 80px;
  height: 48px;
  padding: 0 0 0 14px !important;
  margin-right: 12px;
  border-radius: 12px;
  color: #3e3f5e;
  background: none;
  border: 2px solid #E6E8EC !important;
  //font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.71429;
  color: #23262F;
  transition: border-color .2s;

  &:focus {
    border-color: $secondaire !important;
    outline: none !important;
  }
}

.sidebar-box-items .small-space {
  margin-top: 32px;
}

.catalog_wrapper {
  flex-grow: 1;
  padding-left: 32px;
}

.catalog_btns {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.catalog_list {
  display: flex;
  flex-wrap: wrap;
  margin: -32px -16px 0;
}

.catalog_card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.333% - 32px);
  max-width: calc(33.333% - 32px);
  margin: 32px 16px 0;
  padding: 12px;
  box-shadow: 0px 32px 32px rgb(31 47 70 / 12%);
  border-radius: 20px;
}

.catalog_card:hover .card_preview > img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card_preview {
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 275px;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    vertical-align: middle;
    border:none;
  }
}

.card_link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 0;
  color: #23262F;
}

.card_body {
  display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card_line {
  display: flex;
  align-items: flex-start;
  
  :first-child{
    margin-bottom: 12px;
  }
}

.card_title {
  margin-right: auto;
  padding-top: 1px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.card_price {
  flex-shrink: 0;
  margin-left: 8px;
  padding: 0 8px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px $principal;
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $principal;
}