.header {
  padding: 1rem 3rem;
  background: rgb(0,87,162);
  background: -moz-linear-gradient(148deg, rgba(0,87,162,1) 0%, rgba(0,109,203,1) 49%, rgba(51,138,213,1) 100%);
  background: -webkit-linear-gradient(148deg, rgba(0,87,162,1) 0%, rgba(0,109,203,1) 49%, rgba(51,138,213,1) 100%);
  background: linear-gradient(148deg, rgba(0,87,162,1) 0%, rgba(0,109,203,1) 49%, rgba(51,138,213,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057a2",endColorstr="#338ad5",GradientType=1);
  color: white;
  z-index: 10000;

  @include small-xs {
    padding: 1.25rem 1.5rem 1.25rem 1rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);

    @include small-xs {
      position: static;
      transform: none;
    }
  }

  .logo {
    width: auto;
    height: 60px;
  }

  .cart-count {
    right: -4px;
    top: -4px;
    max-width: 10px;
  }

  .cart-count-bg {
    color:#fff;
    background-color: $secondaire;
  }

  .login {
    position: relative;
    top: 0.5rem;
    margin-right: 1rem;
  }
}

.mobile-menu-inner {
  padding: 7rem 1.5rem;
}

.floaty-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: rgb(0,87,162);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
}

.action-list {
  display: -ms-flexbox;
  display: flex;
  padding: 0 18px;
  position: relative;
}

.floaty-bar .bar-actions {
  align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.floaty-bar .action-list {
  height: 60px;
}

.action-list .action-list-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 14px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .floaty-bar .action-list {
    padding: 0;
  }
}


@media screen and (max-width: 680px) {
  .nav-header-menu {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .floaty-bar {
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .floaty-bar .action-list .action-list-item {
    padding: 0 20px;
  }
}



  