// ####################################### //
// ## STYLE.SCSS ## //
// ####################################### //

// Base
@import "base/vars";

// Helpers
@import "helpers/mixins";
@import "helpers/utility-classes";

// Layout
@import "layout/body";
@import "layout/header";

// Pages
@import "pages/checkout-confirm";
@import "pages/checkout";
@import "pages/home-page";
@import "pages/product";
@import "pages/about";
@import "pages/login";
@import "pages/account";

// Components
@import "components/cart-modal";
@import "components/explore-banner";
@import "components/collection-banner";
@import "components/footer-follow";
@import "components/loader";
@import "components/breadcrumbs";
@import "components/product-list";
@import "components/product-card";

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.checkout-form .form-control {
    background-color: #ebecee;
    border-radius: 12px;
    border: none !important;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
    border: none;
    outline: none;
    margin-bottom: 9px;

    &:hover {
        border: 2px solid $principal !important;
    }
}

.checkout-form .is-invalid-input {
    border: 2px solid $danger-800 !important;
}

.coupon {
    background-color: #ebecee;
    border-radius: 12px;
    border: none !important;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
    border: none;
    outline: none;

    &:hover {
        border: 2px solid $principal !important;
    }
}

.btn-valid {
    background-color: $principal;
    border-radius: 10px;
    color: white;
    transition: background-color .2s;
    outline: none;

    &:hover {
        color: white !important;
        background-color: #0057a2;
    }
}

.btn-skip {
    background-color: $secondaire;
    border-radius: 10px;
    color: white;
    transition: background-color .2s;
    outline: none;

    &:hover {
        color: white !important;
        background-color: #cc6601;
    }
}

